<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='CDI/CDI.css'>
  </head>

      <h1> Welcome to the CDI Test</h1>
      <h2> Kids sometimes have different feelings and ideas. <br> <br>
        This form lists the feelings and ideas in groups. From each group of three sentences, pick on esentence that describes you <i>best</i> for the past two weeks. After you pick a sentence from the first group go on to the next group.  <br> <br>
        There is no right or wrong anser. Just pick the sentence that best describes the way yopu have been recently. To answer, click the box next to the sentence that you pick.  <br> <br>
        Here is an example of how this form works. Try it. Put a mark next to the sentence that describes you best.  <br> <br>
      </h2>
      <div id = "example" > </div>
      <h2> <i><b>Remember, pick out the sentences that describe you best in the PAST TWO WEEKS </b> </i></h2>

      <div id = "container"> </div>
      
      <script src="CDI/CDI.js"></script>
      
      <div id = "buttons"> 
        <button id = "Submit">Submit</button>
      </div>

      <div class="progress-bar" id = "progress-bar"></div>

</html>