<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='../../tests.css'>
  </head>
      <h1> Welcome to the Masc2 Parent Test</h1>


      <h2> 
      <b>Instructions:</b></h2> <h3>These sentences ask you how your child might have been thinking, feeling or acting recently. For each item, please click the number that describes <b> how often the statement is true about your child.</b><br><br>
      Click 0 is a sentence is Never true about your child. <br>
      Click 1 if a sentence is Rarely true about your child. <br>
      Click 2 if a sentence is Sometimes true about your child. <br> 
      Circle 3 if a sentence is Often true about your child. <br> <br> 

      Remember, there are no right or wrong answers, just how your child has been feeling recently. <br> <br> 

      Here is an example to show you how to complete the questionaire. In the example if your child is hardly ever scared of dogs, you would click the 1, meaning that the sentence is "Rarely" true about your child.<br> 
    </h3>
      <div id = "example" ></div>

      <div id = "container"> </div>
      <script>
        var version = "P"
      </script>

      <script src="Masc2.js"></script>
      
      <div id = "buttons"> 
        <button id = "Submit">Submit</button>
      </div>
      <div class="progress-bar" id = "progress-bar"></div>
</html>