<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='<Masc2>.css'>
  </head>
      <h1> Welcome to the Masc2 Self Test</h1>

      <h2>
        <b>Instructions: </b>
      </h2>
      <h3> 
        These sentences ask how you might have been thinking feeling or acting in the last while. For each item, please click the number that describes <b> how often the sentence is true about you.</b><br><br>

        Circle 0 if a sencence is Never true about you. <br>
        Circle 1 if a sentence is Rarely true about you. <br>
        Circle 2 if a sentence is Sometimes true about you. <br>
        Circle 3 if a sentence is Often true about you.<br><br>

        Remember there are no right or wrong answers, just answer how you might have been feeling in the last while.<br><br>

        Here is an example to show you how to mark your answer. In the example, if you are hardly ever scared of dogs, you would circle the 1 meaning that the sentence is "Rarely" true about you.
      </h3>
      <div id = "Example"> </div>

      <div id = "container"></div>

      <script src="Masc2.js"></script>

      <div id = "buttons"> 
        <button id = "Submit">Submit</button>
      </div>
      <div class="progress-bar" id = "progress-bar"></div>

</html>